.formulario {
  margin: 0 auto;
  width: 40%;

  border-radius: 4px;
  border: 1px solid #383737;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.input-area {
    width: 80%;

    display: flex;
    flex-direction: column;
}

.input-area input {
    width: 100%;
}

.texto-erro {
    color: red;
    margin: 4px;
}

input {
    height: 54px;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #756767;
    outline: none;
}

button {
    width: 80%;
    height: 54px;
    background-color: #3578E5;

    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: #286ee0;
}

.input-error {
    border-color: red;
}


/* CSS DO FEED */

body {
    margin: 0
}


.container {
    display: flex;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    /* incluir padding e borda na largura total */
    overflow-y: auto;
    /* adicionar barra de rolagem apenas quando necessário */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 20px;
    font-size: 24px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #ece8e8;
}

.galeria-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.grid-item {
     /* Para 3 colunas, ajuste conforme necessário */
    margin-bottom: 10px;
  }

.galeria-fotos img {
   width: 350px;
    object-fit: cover;
  
}