/* CSS GERAL */

p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 10px 0;
    padding: 5px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #1c1d25;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: #286ee0;
    border-radius: 20px;
    border: 2px solid #3578E5;
}

/* CSS CADASTRO */

.formulario {
    margin: 40px auto;
    width: 40%;

    border-radius: 4px;
    border: 1px solid #383737;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    padding: 10px;

}

.input-area {
    width: 80%;

    display: flex;
    flex-direction: column;
}

.input-area input {
    width: 100%;
}

.texto-erro {
    color: red;
    margin: 4px;
}

input {
    height: 54px;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #756767;
    outline: none;
}

button {
    width: 80%;
    height: 54px;
    background-color: #3578E5;

    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: #286ee0;
}

.input-error {
    border-color: red;
}


/* CSS DO FEED */



.container {
    display: flex;
}

.sidebar {
    background-color: #2b343b;
    box-shadow: 10px 0 0 #4187f6;
    color: #fff;
    width: 200px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    /* incluir padding e borda na largura total */
    overflow-y: auto;
    /* adicionar barra de rolagem apenas quando necessário */

    position: fixed;
}

.sidebar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    padding-left: 5px;
    margin: 0;
    padding-top: 40px;
}

.sidebar ul li {
    position: relative;
    list-style: none;
    margin-bottom: 20px;
    font-size: 24px;
    padding: 10px 10px 10px 40px;
    transition: all ease .4s;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}

.sidebar ul li a {
    position: relative;
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

.active {
    background-color: #4187f6;
    color: #FFF !important;
}

.active a {
    color: #FFF !important;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.sidebar .list a:hover {
    color: #4187f6;
}

.galeria-fotos {
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #2b343b;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: #202428 4px solid;
}

.grid-item {
    /* Para 3 colunas, ajuste conforme necessário */
    margin-bottom: 10px;
}

.galeria-fotos img {
    width: 350px;
    height: 480px;
    object-fit: cover;
}

/* CSS  Explorar */

.container-grid {
    width: 80%;
    /* width: calc(80% - 200px); */
    margin: 0 auto;
}

.container-grid img {
    width: 200px;
}


.container-grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    column-gap: 20px;
}

.container-grid-layout img {
    width: 100%;
    height: auto;
}

/* CSS Seguidores */

.tabela-seguidores {
    width: 100%;
    border: 0;
}

.tabela-seguidores thead {
    background-color: #286ee0;
    color: #FFF;
}

.tabela-seguidores tbody tr {
    height: 48px;
}

.tabela-seguidores tbody tr td {
    text-align: center;
}

td img {
    border-radius: 50%;
    width: 60px;
}

.input-pesquisa {
    width: 100%;
    height: 32px;
    margin-bottom: 20px;
}

.observation-message {
    width: 100%;
    background-color: #286ee0;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 18px;
    color: #FFF;
    margin: 20px 0;
}

.disabled-message {
    display: none
}

/* CSS CHAT */

#chat {
    width: 90%;
    height: 400px;
    border: 2px solid #333c43;
    overflow-y: scroll;
    padding: 10px;
    background: #2b343b;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    margin-bottom: 20px;
}

#chat-form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

#messageInput:focus {
    border: 2px solid #286ee0;
}

#messageInput {
    background-color: #2b343b;
    color: #FFF;
    border: 2px solid #394249;
    width: 90%;
    padding: 5px 5px 5px 10px;
}

.message {
    margin-bottom: 10px;
}

.sender {
    font-weight: bold;
}

.user-message {
    text-align: left;
}

.bot-message {
    text-align: right;
}




#chat::-webkit-scrollbar {
    width: 12px;
}

#chat::-webkit-scrollbar-track {
    background: #1c1d25;
    border-radius: 4px;
}

#chat::-webkit-scrollbar-thumb {
    background-color: #286ee0;
    border-radius: 8px;
    border: 2px solid #3578E5;
}